#ZenaidaFeedback {
	position: absolute;
	bottom: 0;
	right: 20px;
	left: 20px;
	font-size: 12px;
}

.zf-popup-tab {
	float: right;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	display: block;
	background: #666;
	color: #FFF !important;
	text-decoration: none !important;
	box-sizing: border-box;
}
#ZenaidaFeedback .zf-body {
	border: 1px solid #CCC;
	border-bottom: 0;
	background: #EEE;
	box-shadow: 0 1px 5px 0 rgba(0,0,0,.25);
	clear: both;
	height: 0;
	overflow: hidden;
	transition: height .15s linear;
}
#ZenaidaFeedback.in .zf-body {
	height: auto;
}
#ZenaidaFeedback.in .zf-popup-tab {
	width: 100%;
}

.zf-body label {
	width: 30%;
	position: absolute;
	top: 10px;
	left: 10px;
	box-sizing: border-box;
}
.zf-body p {
	clear: both;
	padding: 10px;
	margin: 0;
	border-top: 1px solid #CCC;
	position: relative;
}
.zf-body p:first-child {
	border-top: 0;
}
.zf-body input, .zf-body textarea {
	width: 70%;
	box-sizing: border-box;
	margin: 0 0 0 30%;
	height: 20px;
}
.zf-body textarea {
	border: 1px solid #CCC;
	border-radius: 3px;
	height: 100px;
}

.zf-body-footer {
	border-top: 1px solid #CCC;
	background: #DDD;
	padding: 10px;
	text-align: right;
}

.zf-body-footer button {
	border: 0;
	background: #08A;
	color: #FFF;
	border-radius: 3px;
	padding: 5px 10px;
}
.zf-body-footer button:hover {
	background: #079;
}

.zf-body-footer button:active {
	background: #068;
}

.zf-thanks {
	padding: 40px 10px;
	text-align: center;
	font-size: 1.5em;
}

@media (min-width: 440px) {
	#ZenaidaFeedback {
		left: auto;
		width: 400px;
		position: fixed;
	}
}
