{% load i18n staticfiles %}

<style type="text/css">
	@import url("{% static "feedback/styles.css" %}");
</style>
<div id="ZenaidaFeedback">
	<a class="zf-popup-tab" href="javascript:void(0);">{% trans "Give Feedback" %}</a>
	<div class="zf-body">
		<form action="{% url 'zenaida.contrib.feedback.views.feedback_ajax_submit' %}" method="post">
			{{ form.as_p }}
			{% csrf_token %}
			<div class="zf-body-footer">
				<button>Submit Feedback</button>
			</div>
		</form>
	</div>
</div>
{% if config.JQUERY_URL %}
	<script type="text/javascript" src="{{ config.JQUERY_URL }}"></script>
{% endif %}
<script type="text/javascript" src="{% static "feedback/script.js"%}"></script>
